* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-us{
  width: 100%;
  height: 100%;
  background: #000;
}
.introduction,
.restaurant {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.about-heading {
  font-size: 2.5rem;
  font-family: serif;
}

.rest-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.restaurant .restaurant-heading {
  font-family: sans-serif;
  font-size: 2rem;
}

.rest-bottom {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: left;

}


.rest-row {
  display: flex;
  gap: 2rem;
}
.rest-row:nth-last-child(1) .rest-row-right{
  order: 1;
}
.rest-row:nth-last-child(1) .rest-row-left{
  order: 2;
}

.rest-row-left,
.rest-row-right {
  flex: 1;

}

.rest-row-left .bolt-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.rest-row-right img {
  width: 100%;
  border-radius: 8px;
}
/* village franchise */
.village-details{
  text-align: center;
  margin-bottom: 4rem;
}
.village-details .heading{
  font-size: 1.8rem !important;
  font-family: sans-serif;
  font-weight: 600;
}
.village-details span{
  font-family: sans-serif;
}
/* express franhise section */
.about-express-top h2{
  font-size: 1.8rem;
}
.about-express .card-body h5{
  margin-bottom: 1rem;
  color: #ffffff8b;
}
@media screen and (max-width : 764px){
  .rest-row {
     flex-direction: column;
     text-align: center;
    }
    .rest-row:nth-last-child(1) .rest-row-left{
      order: 1;
    }
    .rest-row:nth-last-child(1) .rest-row-right{
      order: 2;
    }
    /* franchises section */
    .franchieses-details h2{
      font-size: 1.5rem;
    }
}