* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback {
  background: #000000ee url("./images/feedback/banner.webp") no-repeat left;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.feedback-text span {
  font-size: 2.5rem;
  font-weight: 400;
  transform: skewY(1.2);
  position: relative;
  top: 1.1rem;
}

.feedback-text .main-heading {
  font-size: 6rem;
  font-weight: 700;
}

.feedback-text .small-heading {
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: -1px;
}

.form-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-top {
  display: flex;
}

.form-top-left,
.form-top-right {
  flex: 1;
}

.form-top p {
  min-width: 100%;
  border-right: 3px dotted #ccc;
  font-size: 1rem;
  text-align: center;
}

.form-bottom {
  display: flex;

}

.form-bottom-left {
  flex: 1;
  padding: 1rem;
  border-right: 3px dotted white;
  display: flex;
  flex-direction: column;
}

.left-top {
  display: flex;
  gap: 1rem;
}

.top-left-left,
.top-left-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stars-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: .4rem;
}

.star {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.group-inputs {
  display: flex;
  gap: 2rem;
}

.group-inputs input {
  flex: 1;
  border: none;
}

form input,
form select {
  padding: 1rem .5rem;
  border-radius: 8px;
  border: none;
}

.text-group {
  display: flex;
  gap: 1rem;
}

.text {
  flex: 1;
  flex-direction: column;
  display: flex;
  max-width: 15rem;
  min-width: 3rem;
}

.text-group input {
  width: 100%;
}

.radio-container {
  display: flex;
  gap: 5rem;
}

.checkbox-container {
  display: flex;
  column-gap: 3.5rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  align-self: flex-start;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
  font-size: .8rem;
  background-color: #ED1C24;
  color: #fff;
  align-self: flex-start;
  cursor: pointer;
}

.form-bottom-right {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.map img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .left-top {
    flex-direction: column;
  }



  .group-inputs {
    flex-direction: column;
    gap: 1rem;
  }

}

@media screen and (max-width: 768px) {
  .form-top .form-top-left {
    flex: 1;

  }

  .form-bottom-left {
    border-right: none;
  }

  .form-top .form-top-left p {
    border-right: none;
  }

  .form-top .form-top-right {
    flex: 0;
  }

  .form-bottom {
    flex-direction: column;

  }

  .top-left-left,
  .top-left-right {
    align-items: center;
  }

  .form-bottom-right .map {
    width: 100%;
  }

  .btn {
    align-self: stretch;
  }
}