* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart i {
  font-size: 1.8rem;
}

.border {
  border: 1px solid #141414;
}

.cart span {
  background-color: #ED1C24;
  padding: .2rem .4rem;
  border-radius: 50%;
  font-size: .75rem;
  position: relative;
  bottom: 20px;
  right: 14px;
}

.order-wrapper {
  padding: 2rem 0rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.order-left {
  flex: .8;
  display: flex;
  flex-direction: column;


}

.cata-heading {
  font-weight: 600;
  font-size: 1.1rem;
}

.find {
  background-color: #FFFFFF;
  color: #00000073;
  margin-top: 1.5rem;
  font-size: .9rem;
  padding: .7rem 0 .7rem 2rem;
  border-radius: .5rem;

}

.fillters {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .9rem;
  height: 200px;
  overflow-y: scroll;
}

.fillter {
  display: flex;
  justify-content: space-between;
}

.fillter .left {
  display: flex;
  gap: 1rem;
}

.fillter .left h4 {
  font-size: .9rem;
  font-weight: 300;
}

.order-right {
  flex: 3.2;
}

.menu-list {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.list-item {
  flex: 1;
  max-width: 300px;
  min-width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
}

.list-item .image {
  width: 100%;
  height: 200px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-item .title {
  font-size: 1rem;
}

.description {
  font-size: .9rem;
  color: #ffffff80;
  font-weight: 300;
  margin-bottom: .8rem;
}

.order-btn {
  padding: .4rem 2rem;
  border-radius: 30px;
  background-color: #ED1C24;
  margin: .8rem 0;
}

@media screen and (max-width: 992px) {
  .order-wrapper {
    flex-direction: column;
  }
  .nav-btn{
    display: none;
  }
  .order-left {
    flex: 1;
    width: 100%;
  }

  .order-right {
    flex: 1;
    width: 100%;
  }

}

@media screen and (max-width:564px) {
  .menu-list {
    justify-content: center;
    border: 1px solid green;
  }

  .list-item {
    min-width: 100%;
  }
}