* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #e5e5e5bc;
}

p {
  color: #e5e5e5bc;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
  font-family: sans-serif;
}

/* header section */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1.3rem; */
}

.primary-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  gap: .8rem;
}

.mobile-nav {
  display: flex;
  align-items: center;
  display: none;
}

.mobile-nav .checkbox {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.menu-lines {
  width: 3rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  right: 2.7rem;
}

.checkbox:checked~.menu-lines .line:nth-child(1) {
  transform: rotateZ(45deg);
  margin-top: .9rem;
}

.checkbox:checked~.menu-lines .line:nth-child(2) {
  display: none;
}

.checkbox:checked~.menu-lines .line:nth-child(3) {
  transform: rotateZ(-45deg);
  position: relative;
  bottom: 1rem;
}

.menu-lines .line {
  width: 100%;
  padding: 3px;
  background-color: #f6f6f6;
  transition: all .30s linear;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-transform: capitalize;
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 20rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 4rem;
  display: none;
}

.checkbox:checked~.nav-items {
  display: block;
}

.nav-items .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.465);
  padding: 1rem;
}

.nav-items .nav-item:hover {
  color: #dc3545;
  transform: scale(1.1);
  padding-left: 1rem;

}

.nav-items a {
  text-decoration: none;
  color: #000;

}

.nav-logo {
  max-width: 8rem;
}

.nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: .8rem;
  text-transform: capitalize;
}

.primary-navigation .nav-btn:nth-last-child(1) a {
  background-color: #ED1C24;
  padding: .7rem 1rem;
  border-radius: 35px;
  display: flex;
  font-size: .8rem;
  gap: .8rem;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.primary-navigation .nav-btn:nth-last-child(1) a i {
  font-size: 1.2rem;
}

.nav-list .nav-item:nth-last-child(1) {
  border: 1px solid #fff;
  padding: .7rem 1rem;
  border-radius: 35px;
  font-size: .8rem;
  word-spacing: 4px;
}


.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}

/* hero section */

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about section */
.about-wrapper {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.about-top .title {
  font-size: 2rem;
  font-weight: 400;

}

.bolt-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.about-top .discription {
  margin-top: .8rem;
  color: rgba(255, 255, 255, 0.626);
  font-size: .8rem;
}

.about-bottom {
  display: flex;
  justify-content: center;
  gap: 1rem;
  overflow-x: hidden;
}

.about-bottom .about-card-body {
  flex: 1;
  align-self: center;
  gap: 1.3rem;
  color: #fff;
  margin-top: 1rem;
}

.about-card-body img {
  padding: 1rem;
  max-width: 12rem;
  /* height: 100%; */
  border-radius: .2rem;
  object-fit: cover;
  background-color: #fff;
}

.about-card-body .card-btn {
  margin-top: 1.5rem;
  padding: .8rem 2rem;
  border: 1px solid #ffffff63;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffffc3;
  font-size: .8rem;
}

/* franchises section */
.frachises-section {
  background-color: #0F0F0F;
  padding: 3rem 0;

}

.franchises-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.franchieses-details h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.franchieses-details .bolt-text {
  font-weight: 900;
}

.franchises-wrapper .description {
  font-size: .8rem;
  margin-top: .8rem;
  color: rgba(255, 255, 255, 0.626);
}

.franchise {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.franchise:nth-last-child(2) {
  flex-direction: row-reverse;
}

.franchise .left {
  flex: 1;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.city-name {
  font-family: sans-serif;
  color: #ED1A1F;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: colorVariation 2s ease infinite;
}

@keyframes colorVariation {
  0% {
    color: #ED1A1F;
  }

  30% {
    color: #ed1a1e7f;
  }

  100% {
    color: #ED1A1F;
  }
}

.heading {
  font-size: 1.5rem;
}

.location {
  font-size: .7rem;
  font-weight: 400;
  color: #ffffffa6;
  display: flex;
  gap: .5rem;

}

.phone-number {
  font-size: .7rem;
  font-weight: 400;
  color: #ffffffa6;
  display: flex;
  gap: .5rem;
}

.direction-icon {
  margin: 1rem 0 0;
  padding: .5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.526);
  max-width: fit-content;
  font-size: .7rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}

.direction-icon i {
  font-size: 1.2rem;
}

.franchise .right {
  flex: 1;
}

.franch-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* express franchises section */
.express-franchises {
  background-color: #0D0D0D;


}

.express-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.express-wrapper .express-top {
  font-size: 1.5rem;
  text-align: center;
  font-family: serif;
  font-weight: 500;
}

.express-bottom-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
  justify-content: center;
}

.express-bottom-card {
  max-width: 31%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}


.express-bottom-card .city-name {
  font-size: 0.7rem;
}

.express-bottom-card:nth-child(2) .phone-number,
.express-bottom-card:nth-child(8) .phone-number {
  margin-top: 1rem;
}

.express-bottom-card:nth-child(6) .phone-number,
.express-bottom-card:nth-child(10) .phone-number {
  margin-top: .3rem;
}

.express-bottom-card .image {
  max-height: 230px;
}

.express-bottom-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newfont {
  font-size: .7rem;
}

.headingfont {
  font-size: 1rem;
}


/* village franchise section */
.village-franchise {
  max-width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.village-franchise .village-details h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: serif;
}

.village-wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.village-wrapper .left {
  flex: 1;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.village-wrapper .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.right .headingfont {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}



.right .direction-icon {
  margin-top: 2rem;
  background-color: #28A745;
}

/* new franchises section */
.new-franchises-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.new-top h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.new-top .top-express {
  font-family: serif;
}

.top-express span {
  font-size: 1.5rem;
}

.new-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

}

.new-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1rem 0;
  min-width: 31%;
  max-width: 32%;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}

.new-card .icon {
  background-color: rgba(128, 128, 128, 0.29);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-card .icon i {
  color: #D02B2A;
  font-size: 1.5rem;
}

.new-card .soon {
  color: red;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .5rem;
  padding-top: 1rem;
}

.new-card h2 {
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 80%;
}

.new-card h2 span {
  font-size: .9rem;
  font-weight: 500;
}

.new-card .address {
  font-size: 1rem;
  font-weight: 500;
  max-width: 50%;
  line-height: 1.5;
}

/* social feed section */
.social-wrapper {
  padding: 2rem 0px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.social-wrapper h2 {
  font-size: 2rem;
  font-family: serif;
  color: #212529;
}

.socia-cards {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-card {
  flex: 1;
  max-width: 25rem;
}

.social-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer section */
.footer {
  border-bottom: 1px solid #eeeeee13;
  margin: 0 1rem;
}

.footer-wrapper {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  flex-wrap: wrap;

}

.footer-part {
  flex: 1;
  min-width: 12rem;
  align-self: self-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-part:nth-child(1) {
  flex: 1.3;
}

.footer-part:nth-child(1) p {
  font-size: .74rem;
}

.footer-part:nth-child(1) .terms-privacy {
  font-size: .7rem;
  color: #ffffff81;
}

.footer-part:nth-child(1) .nav-logo {
  max-width: 8rem;
}

.footer-part:nth-child(2) h3 {
  font-size: .85rem;
  font-family: serif;
}

.footer-part:nth-child(2) .footer-list {
  list-style: none;
  font-size: .8rem;
  text-transform: capitalize;

}

.footer-list .footer-item {
  margin-bottom: 1rem;
  color: #e5e5e5bc;
}

.footer-part:nth-child(3),
.footer-part:nth-child(4) {
  gap: 1rem;
}

.footer-part:nth-child(3) h3 {
  font-size: .85rem;
  font-family: serif;
}

.footer-part:nth-child(3) p {
  font-size: .8rem;
}

.footer-part .social-icons {
  display: flex;
  gap: 5px;
}

.footer-part .social-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED1C24;

}
.copyright{
  display: flex;
  padding: .5rem 0;
}
.copyright p{
  flex: 1;
  font-size: .7rem;
}



@media screen and (max-width : 992px) {

  /* header section */
  .mobile-nav {
    display: block;
  }

  .checkbox {
    top: 15px;
  }

  .nav-logo {
    max-width: 7rem
  }

  .menu-lines {
    left: -5px;
    bottom: 1.8rem;
  }

  .nav-list {
    display: none;
  }

  .primary-navigation .nav-btn:nth-last-child(1) a {
    padding: 1rem;
    font-size: .9rem;
  }

  .menu-lines {
    width: 2.3rem;
    height: 2.3rem;
  }

  .menu-lines .line {
    padding: 2px;
  }

  /* about section */
  .about-top .title {
    font-size: 2.5rem;
  }

  .discription {
    font-size: 1rem;
  }

  .about-bottom {
    gap: 1rem;
  }

  .about-card-body .card-btn {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  /* franchises section */
  .franchise .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .city-name {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .location {
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  .phone-number {
    font-size: .9rem;
  }

  .direction-icon {
    margin: 2rem 0 0 1rem;
    font-size: .8rem;
  }

  /* express franchises section */
  .express-franchises {
    padding: 0;
  }

  .express-top h2 {
    font-size: 2.5rem;
  }

  .card-body h2 {
    font-size: 1rem;
  }

  .card-body .newfont {
    font-size: .8rem;
    background-color: rgb(7, 33, 33);
  }

  .card-body img {
    width: 100%;
    height: 100%;

  }

  /* village franchie */
  .right .newfont {
    font-size: 1rem;
  }

  .right .headingfont {
    font-size: 2rem;
  }

}

@media screen and (max-width : 768px) {

  /* village franchise section */
  .village-wrapper {
    padding: 0 1rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .village-wrapper .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }


  .direction-icon {
    margin: 3rem 0 0;
    padding: 1rem;
    background-color: #28A745;
  }

  .direction-icon i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width : 576px) {
  .nav-logo {
    max-width: 5rem
  }

  .primary-navigation .nav-btn:nth-last-child(1) a {
    padding: .9rem;
    font-size: .6rem;
    gap: .3rem;
  }

  .menu-lines {
    width: 1.8rem;
    height: 1.8rem;
  }

  .checkbox:checked~.menu-lines .line:nth-child(1) {
    margin-top: .5rem;
  }

  /* about section */
  .about-top .title {
    font-size: 1.7rem;
  }

  .discription {
    font-size: .8rem;
  }

  .about-bottom {
    gap: 1rem;
  }

  .about-card-body img {
    min-width: 20rem;
  }

  .about-card-body .card-btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 40px;
  }


  /* franchises section */
  .franchieses-details h2 {
    font-size: 2rem;
  }

  .franchieses-details .description {
    font-size: .9rem;
  }

  .franchise,
  .franchise:nth-last-child(2) {
    flex-direction: column;
  }

  /* express franchise section */
  .express-top h2 {
    font-size: 2.3rem;
  }

  /* village franchie */
  .village-franchise .village-details h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .right .headingfont {
    font-size: 1.5rem;
  }

  .village-wrapper .right .newfont {
    font-size: .9rem;
  }

  /* new franchises section */
  .new-top h2 {
    font-size: 1.5rem;
  }

  .new-card {
    min-width: 90%;
    padding-bottom: 2rem;
  }

  /* social feed section */


  .social-card {
    max-width: 8rem;
    flex-basis: 8rem;
  }

  .express-bottom-card {
    min-width: 90%;
  }

  .express-bottom-card .newfont {
    max-width: 90%;
  }
}